@import './fonts.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body  {
  min-width: 320px;
}

html, body {
  height: 100%;
}

html, body, #root {
  width: 100%;
}

body, input, textarea, a, button, ul, h1, h2, h3, h4, h5, h6 {
  font-family: 'Museo Sans Cyrl';
}

body, input, textarea, a, button, ul {
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6, h6 {
  font-family: 'Museo Sans Cyrl Bold';
}

.container {
    max-width: calc(1140px + 100px); // 100 - lr paddings
    margin: 0 auto;
    width: 100%;
    padding: 0 50px;
}

.main {
  background-image: url('./../../assets/images/background.png');
  background-size: cover;
  background-position: center;

  min-height: 660px;
  width: 100%;
}

img {
  object-fit: contain;
}

a {
  color: #FFFFFF;
  display: inline-flex;
  text-decoration: none;
}

@media screen and (max-width: 1440px) {
  .main {
    background-position: top center;
  }
  .container {
    padding: 0 45px;
  }
}

@media screen and (max-width: 920px) {
  .container {
      padding: 0 40px;
  }
}

@media screen and (max-width: 768px) {
  ul, ol {
    margin-left: 0 10px;
  }
}

@media screen and (max-width: 680px) {
  .container {
      padding: 0 25px;
  }
}

@media screen and (max-width: 480px) {
  .container {
      padding: 0 15px;
  }
}